*.pyc
*.pyo
__pycache__/
/build/
/dist/
/sdist/
/cover/
/htmlcov/
/lib/
.hypothesis/
.pytest_cache/

*.sln

.DS_Store
.coveralls.yml*
.coverage
.idea

*.pyproj
*.suo

.installed.cfg
.mr.developer.cfg
.hg
.bzr
.svn
*.tmp*
*.mo
*.egg-info
*.egg
*.EGG
*.EGG-INFO

develop-eggs
eggs
fake-eggs
init
artifacts
requirements.txt

.codegpt