[project]
	description = The BGP swiss army knife of networking
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Thomas Mangin (thomas-mangin)
[access "refs/for/refs/*"]
	read = group user/Thomas Mangin (thomas-mangin)
	push = group user/Thomas Mangin (thomas-mangin)
	label-Code-Review = -2..+2 group user/Thomas Mangin (thomas-mangin)
	label-Verified = -1..+1 group user/Thomas Mangin (thomas-mangin)
	rebase = group user/Thomas Mangin (thomas-mangin)
	removeReviewer = group user/Thomas Mangin (thomas-mangin)
	submit = group user/Thomas Mangin (thomas-mangin)
[access "refs/heads/*"]
	read = group user/Thomas Mangin (thomas-mangin)
	create = group user/Thomas Mangin (thomas-mangin)
	push = +force group user/Thomas Mangin (thomas-mangin)
	pushMerge = group user/Thomas Mangin (thomas-mangin)
[access "refs/tags/*"]
	push = +force group user/Thomas Mangin (thomas-mangin)
	pushTag = group user/Thomas Mangin (thomas-mangin)
	pushSignedTag = group user/Thomas Mangin (thomas-mangin)
