#route 77.93.35.15/32 next-hop 10.0.0.2;

group test {
	local-as 65534;
	peer-as 65533;
	hold-time 180;
	graceful-restart 1200;

	family {
		ipv4 unicast;
	}

	capability{
		aigp enable;
	}

	static {
		route 11.0.0.0/8 next-hop 1.1.1.1 aigp 100 as-path [ 1 2 3 4 ];
		route 22.0.0.0/8 next-hop 1.1.1.1 aigp 100 as-path [ 1 2 3 4 ];
		route 33.0.0.0/8 next-hop 1.1.1.1 aigp 100 as-path [ 1 2 3 4 ];
		route 44.0.0.0/8 next-hop 1.1.1.1 aigp 100 as-path [ 1 2 3 4 ];
		route 55.0.0.0/8 next-hop 1.1.1.1 aigp 100 as-path [ 1 2 3 4 ];
		route 66.0.0.0/8 next-hop 1.1.1.1 aigp 150 as-path [ 1 2 3 4 ];
		route 77.0.0.0/8 next-hop 1.1.1.2 aigp 150 as-path [ 1 2 3 4 ];
		route 88.0.0.0/8 next-hop 1.1.1.2 aigp 150 as-path [ 1 2 3 4 ];
		route 99.0.0.0/8 next-hop 1.1.1.2 aigp 150 as-path [ 1 2 3 4 ];
	}

	neighbor 127.0.0.1 {
		description "router 2";
		router-id 128.0.0.0;
		local-address IP;
	}
}
