# Created by Henry-Nicolas Tourneur(henry.nicolas@tourneur.be)
# This is an example environment configuration file for ExaBGP.
# To use it, change its name to exabgp.env and reload ExaBGP.

[exabgp.daemon]
daemonize = false
pid = ''
user = 'exabgp'

[exabgp.log]
all = false
configuration = false
daemon = true
destination = 'stdout'
enable = true
level = INFO
message = false
network = true
packets = false
parser = false
processes = true
rib = false
routes = false
short = false
supervisor = true
timers = false

[exabgp.pdb]
enable = false

[exabgp.profile]
enable = false
file = ''

[exabgp.tcp]
timeout = 1

