[Unit]
Description=ExaBGP
After=network.target

[Service]
Environment=exabgp_daemon_daemonize=false
Environment=exabgp_log_destination=stdout
ExecStart=/usr/sbin/exabgp /etc/exabgp/exabgp.conf

[Install]
WantedBy=multi-user.target
