name: Testing (Python 3.12+)

on:
  push:
    branches: [main, 5.0, 4.2, 3.4]
  pull_request:
    branches: [main]

permissions:
  contents: read

jobs:
  functional-tests:
    # runs-on: ubuntu-latest
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.12", "3.13", "3.14"]
        os: ["ubuntu-latest"]

    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: run python version
        run: |
          python --version

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"

      - name: Install dependencies
        run: uv sync --frozen

      - name: Configuration
        run: |
          uv run ./qa/bin/functional parsing

      - name: Functional
        run: |
          uv run ./qa/bin/functional encoding

      - name: Decoding
        run: |
          uv run ./qa/bin/functional decoding
