name: Linting

on:
  push:
    branches: [main, 4.2, 3.4]
  pull_request:
    branches: [main]

permissions:
  contents: read

jobs:
  lint-tests:
    # runs-on: ubuntu-latest
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.12"]
        os: ["ubuntu-latest"]

    steps:
      - uses: actions/checkout@v5
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r qa/requirements.txt

      - name: ruff
        run: |
          python --version
          ruff --version
          ruff check . --output-format=full --statistics
