name: Publish packages

on:
  push:
    tags:
      - "v*"

permissions:
  contents: read

jobs:
  assets:
    name: Release packages
    runs-on: ubuntu-latest
    steps:
      - name: Check out src from Git
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up Python 3.12
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"
#     - name: Build
#       run: |
#         make init build

#       - name: Publish distribution to PyPI
#         uses: pypa/gh-action-pypi-publish@master
#         with:
#           user: __token__
#           password: ${{ secrets.GH_ACTIONS_EXABGP }}
